.base-stats li {
  font-size: 20px;
}
.base-stats {
  width: 100%;
  color: rgb(42 20 20 / 90%);
}

.base-stats ul {
  margin: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  list-style-type: none;
}
.base-stats ul li {
  width: 100%;
}
