<div class="wrapper">
  <label for="name">Name:</label>
  <input name="name" type="text" [(ngModel)]="trainer.name" />

  <label for="age">Age:</label>
  <input name="age" type="number" [(ngModel)]="trainer.age" />

  <label for="favorite-pokemon">Favorite Pokemon:</label>
  <input
    name="favorite-pokemon"
    type="text"
    [(ngModel)]="trainer.favoritePokemon"
  />

  <label for="pokemons-amount">Pokemon Amount:</label>
  <input
    name="pokemons-amount"
    type="number"
    [(ngModel)]="trainer.pokemonsAmount"
  />

  <button (click)="storeTrainer()">Edit</button>
</div>
