<form class="wrapper" (ngSubmit)="storeTrainer()" [formGroup]="trainer">
  <label for="name">Name:</label>
  <input name="name" type="text" formControlName="name" />

  <label for="age">Age:</label>
  <input name="age" type="number" formControlName="age" />

  <label for="favorite-pokemon">Favorite Pokemon:</label>
  <input
    name="favorite-pokemon"
    type="text"
    formControlName="favoritePokemon"
  />

  <label for="pokemons-amount">Pokemon Amount:</label>
  <input
    name="pokemons-amount"
    type="number"
    formControlName="pokemonsAmount"
  />

  <button type="submit">Edit</button>
</form>
