article {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid rgba(187, 187, 187, 0.644);
  border-radius: 15px;
  padding: 1.4rem;
  -webkit-box-shadow: 0px 0px 15px 6px rgba(121, 121, 121, 0.21);
  box-shadow: 0px 0px 15px 6px rgba(121, 121, 121, 0.21);
  position: relative;
  overflow: hidden;
  transition: all 0.3s linear;
  min-width: 7.8rem;
  max-width: 10rem;
}
article:hover {
  cursor: pointer;
  transform: scale(1.125);
}

img {
  width: 10rem;
  z-index: 1;
  align-self: center;
}
@media (max-width: 768px) {
  img {
    width: 7rem;
    align-self: center;
  }
}
.background-img {
  left: -400px;
  top: -400px;
  position: absolute;
  z-index: 0;
  filter: blur(30px) brightness(1.4);
  background: rgba(255, 255, 255, 0.322);
  height: 1000px;
  width: 1000px;
}

h2 {
  color: rgba(41, 41, 41, 0.774);
  font-size: 1.5rem;
  z-index: 1;
}
