<div class="wrapper" *ngIf="registered === true">
  <ul>
    <li for="name">
      Name:
      <span>{{ trainer.name }}</span>
    </li>

    <li for="name">
      Age:
      <span>
        {{ trainer.age }}
      </span>
    </li>

    <li for="name">
      Favorite Pokemon:
      <span>{{ trainer.favoritePokemon }}</span>
    </li>

    <li for="name">
      Pokemon Amount:
      <span>
        {{ trainer.pokemonsAmount }}
      </span>
    </li>
  </ul>
  <div class="trainer-options">
    <button routerLink="/trainer/register" class="edit-btn">Edit</button>
    <button class="remove-btn" (click)="removeTrainer()">Remove</button>
  </div>
</div>

<div class="wrapper not-registered" *ngIf="registered === false">
  <h2>Seems like you dont have a trainer profile registered</h2>
  <button class="register-button" routerLink="/trainer/register">
    <h3>Register</h3>
  </button>
</div>
