main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 4rem 4rem;
}
.abilities-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  /* background-color: red; */
  max-width: 640px;
}

.main-image-container {
  position: relative;
}
.main-image {
  width: 145px;
  height: 179px;
  align-self: end;
}

.secondary-images {
  display: flex;
  align-self: end;
}

.pokemon-info-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* BASE STATS */
.detail-container {
  overflow: hidden;
  min-height: 30rem;
}

@media (max-width: 768px) {
  main {
    margin: 2rem 1rem;
  }
  .abilities-info {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
  }
}
@media (max-width: 380px) {
  .detail-container {
    min-height: 8rem;
  }
  main {
    margin: 1.5rem 1rem;
  }
}
