<main>
  <div class="pokemon-info-container">
    <img
      class="main-image"
      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/{{
        data.id
      }}.svg"
      alt=""
    />
    <!-- <h2>{{ data.abilities[0].ability.name }}</h2> -->
    <div class="abilities-info">
      <div class="abilities-container">
        <div *ngFor="let ability of data.abilities" class="ability">
          {{ ability.ability.name }}
        </div>
      </div>

      <div class="secondary-images">
        <img
          class=""
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
            data.id
          }}.png"
          alt=""
        />
        <img
          class=""
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/shiny/{{
            data.id
          }}.png"
          alt=""
        />
      </div>
    </div>
  </div>
  <mat-tab-group>
    <mat-tab label="About"> About </mat-tab>
    <mat-tab label="Base Stats"> Base Stats </mat-tab>
    <mat-tab label="Evolution"> Evolution </mat-tab>
    <mat-tab label="Moves"> Moves </mat-tab>
  </mat-tab-group>
</main>
