<main class="container">
  <section class="pokemons-cards">
    <app-pokemon-card
      *ngFor="let pokemon of pokemons.results"
      [name]="pokemon.name"
      [id]="getPokemonId(pokemon.url)"
    ></app-pokemon-card>
  </section>
  <div
    class="loading"
    infinite-scroll
    [infiniteScrollDistance]="0.1"
    (scrolled)="addPokemons()"
  >
    <mat-spinner *ngIf="loadingPokemons" [diameter]="35"></mat-spinner>
  </div>
</main>
<div data-aos="fade-up" class="scroll-to-top" *ngIf="showBackToTop">
  <button (click)="backToTop()">
    <span class="material-icons"> expand_less </span>
  </button>
</div>
