<section>
  <div class="close-container">
    <i (click)="handleClick()"><span class="material-icons"> close </span></i>
  </div>
  <form
    class="content"
    (ngSubmit)="searchPokemon()"
    [formGroup]="pokemonToSearch"
  >
    <input
      id="name-input"
      type="text"
      formControlName="name"
      placeholder="Type the Pokemon's name"
    />
    <button type="submit" id="search">
      <span class="material-icons"> search </span>
    </button>
  </form>
  <div class="pokemon-found">
    <app-pokemon-card
      *ngIf="pokemonFound.forms[0].name !== '' && loading === false"
      (click)="handleClick()"
      [name]="pokemonFound.forms[0].name"
      [id]="getPokemonId(pokemonFound.forms[0].url)"
    ></app-pokemon-card>
    <div *ngIf="loading" class="searching">
      <mat-spinner [diameter]="35"></mat-spinner>
    </div>
    <div class="not-found" *ngIf="error && loading === false">
      Pokemon not found :(
    </div>
  </div>
</section>
