/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
}
html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(90deg, #ffbfbf 1%, #fffee9 83%);
}

.mat-typography {
  font: 400 14px Roboto, "Helvetica Neue", sans-serif;
}
:root {
  --smooth-pink: rgb(252, 103, 103);
}
