<form class="wrapper" (ngSubmit)="storeTrainer()" [formGroup]="formTrainer">
  <label for="name">Name:</label>
  <input type="text" formControlName="name" />

  <label for="age">Age:</label>
  <input type="number" formControlName="age" />

  <label for="favorite-pokemon">Favorite Pokemon:</label>
  <input type="text" formControlName="favoritePokemon" />

  <label for="pokemons-amount">Pokemon Amount:</label>
  <input type="number" formControlName="pokemonsAmount" />

  <button type="submit">Register</button>
</form>
